body{background-color: #000000;
color: #FFF2F2; 
	font-family: ariel, helvetica, sans-serif;
	text-align: center;
	line-height: 4em
		
}
a{color: #0DE3C5}
body{}
h1{font-size:80px;
font-weight: bolder}
h2{font-size: 50px}
h3{font-size: 38px}
h4{font-size: 30px}
h5{font-size: 20px}
Div1{font-size: 20px}
Div1{text-align: left}